<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
    <title>TinyApp</title>
</head>
<body>
    <table>
        <% if (Object.keys(urls).length !== 0) { %>
        <thead>
            <tr>
                <th>Short URL</th>
                <th>Long URL</th>
                <th>Edit URL</th>
                <th>Delete URL</th>
            </tr>
        </thead>
        <% } else { %>
        <h4>You Have Yet to Create Any TinyURLs.</h4>
        <% } %>
        <tbody>
            <% for (url in urls) { %>
            <tr>
                <td>
                    <a href='/u/<%= urls[url].shortURL %>'><%= urls[url].shortURL %></a>
                </td>
                <td>
                    <%= urls[url].longURL %>
                </td>
                <td>
                    <form method="GET" action="/urls/<%= url %>">
                        <input type="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form method="POST" action="/urls/<%= url %>/delete">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <form method="GET" action="/urls_new"><button>Click here</button></a> to create a TinyURL
</body>
</html>